.header{
    display: flex;
    align-items: center;
    background-color: #156;
    border-bottom: solid 2px greenyellow;
  
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 45px;
    padding-right: 30px;
}